@import "tailwindcss";

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/Vazirmatn-Black.woff2") format("woff2");
}

@theme {
    --color-brand-bg: #0a0a0b;
    --color-brand-surface: #121214;
    --color-brand-border: rgba(255, 255, 255, 0.08);
    --color-brand-primary: #3b82f6;
    --color-brand-primary-hover: #2563eb;
    --color-brand-text-main: #ffffff;
    --color-brand-text-muted: #a1a1aa;

    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;
}

html, body {
    direction: rtl;
    font-family: "Vazir", serif;
    background-color: var(--color-brand-bg);
    background-image:
            radial-gradient(circle at 50% -20%, rgba(59, 130, 246, 0.15), transparent 50%),
            radial-gradient(circle at 0% 0%, rgba(59, 130, 246, 0.05), transparent 30%);
    color: var(--color-brand-text-main);
    min-height: 100vh;
}
